<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseños</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>
<body class="bg-[url('/static/imagenes/subestacion.jpg')] bg-cover bg-center bg-fixed]">
     {% include 'Headers.html' %}

      <section class="text-center bg-backdrop-blur/60 rounded-lg max-w-4xl w-full px-4 ">

<div class="text-justifity-center text-black pt-32 bg-backdrop-blur">
         <p1>Agrega tus diseños electricos (DWG)</p1>
      </div>
      </section>
          
</body>
</html>
