<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculos Eléctricos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-blue-500">
    <section>
        <h1 class="font-Arial text-center">Aplicacion para generar circuitos electricos</h1>
        <p class="font-Tahoma text-sm mt-6 text-left max-w-[900px] mx-auto text-black/70">
                    Somos una empresa especializada en el diseño construcción diagnóstico de instalaciones elécricas de media y baja tensión.
                    Ofrecemos soluciones integrales en sistemas de iluminación, telecomunicaciones y seguridad electrónica, 
                    con participaciónes en proyectos de ingeniería civil y arquitectura.
                </p>
    </section>
    
    
</body>
</html>